{erl_opts, [debug_info]}.
{deps,[
    {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}},
    {oauth, ".*", {git, "https://github.com/tim/erlang-oauth.git"}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}}
]}.
{relx, [
    {release,
        {twitter_bot, "0.0.1"},
        [twitter_bot]
    },
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.
